Package: com.cnc.Battery-Temperature
Name: Battery Temperature
Version: 1.1-1
Description: Add the battery's temperature to the status bar. Choose between the Celsius, Fahrenheit, and Kelvin temperature scales.
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: libactivator (<< 1.8.3)
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Colin Campbell
dev: Colin Campbell
Homepage: 
Depiction: 
Maintainer: 
Icon: 

