Package: com.cnc.Battery-Temperature
Name: Battery Temperature
Version: 1.0
Description: Replaces the status bar's battery percentage text with that of the battery's temperature. Choose between the Celsius, Fahrenheit, and Kelvin temperature scales.
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Colin Campbell
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

